.logo__container {
    display: flex;
    justify-content: center;
}

.app__logo {
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(112, 112, 112);
    width: 120px;
    height: 80px;
}

.animal__container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}